<head>
    <link rel="stylesheet" href="/css/error.css">
</head>

<body>
    
    <div class="container">

        <div class="col-sm-6">
            <img src="/images/chirpy_question_mark.png" alt="Error">
        </div>
        <div class="col-sm-6" id ="colortext">
            <h2>Oops! Something went wrong. The page you're looking for does not exist :(</h2>
        </div>
    </div>
</body>