<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta char="utf-8">
  <title>Navbar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div class="heading_image">
    <i class="fa fa-twitter" style="font-size:48px;color:#1DA1F2;width:40px;height: 35px;"></i>
  </div>
  <div class="sidebar" id = "header">

    <a href="home.html"><i class="fa fa-home"></i><span>Home</span></a>
    <a href="#"><i class="fa fa-hashtag"></i><span>Explore</span></a>
    <a href="#"><i class="fa fa-bell"></i><span>Notifications</span></a>
    <a href="#"><i class="fa fa-envelope"></i><span>Messages</span></a>
    <a href="#"><i class="fa fa-bookmark"></i><span>Bookmarks</span></a>
    <a href="#"><i class="fa fa-user"></i><span>Profile</span></a>
    <a href="#"><i class="fa fa-cog"></i><span>Settings</span></a>
    <a href="#"><button type="button" id="chirp"><span>CHIRP</span></button></a>

  </div>

</body>

</html>
