<!-- 

Requirements:

//General//

'Your pages should have

A Header (including title and logo)
Design a nice header using images, texts, etc.
Get creative and design your own logo, or use someone else’s logo (as long as it’s not another class student)
A footer
Get Creative, add a section for useful links, copyright data, etc.
A Navigation menu (either on the side or on the header)
It doesn’t have to be collapsible but needs to look decent.'

//Home//

1) Build a home page for users (their main social network page).

- The homepage must look professional and include all different components of the social network that you have in mind,
  and include links to other pages you’ll add in the future.

- Who to follow, trending hashtags, link to messages, link to profile

2) The page must be populated with static dummy data for the sake of presentation

- For example, a few posts by different users, etc.
  You can choose to make your social network look similar to Facebook or Twitter Web apps (not Mobile apps) 
  and build a similar homepage to those.

  Instead, you can think of a different type of social network and design that.

-->
<!DOCTYPE HTML>
<html lang="en">

<head>
  <link href="favicon.ico" rel="icon" type="image/x-icon">
  <link rel="stylesheet" href="css/home.css">
  <script src="js/home.js"></script>
  <header>
    <title>Chirpy Home Page</title>
  </header>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
  <script>
    // $(function () {
    //   $('#header').load('header.html');
    // });
    // $(function () {
    //   $('#table-follow').load('table.html');
    // });
    $(function () {
      $('#right-hand').load('right-hand-col.html');
    });
  </script>
</head>

<body style="background-color: black">

  <div class="row">

    <div class="col-lg-3 col-md-3">
      <div id="header"></div>
    </div>

    <div class="col-lg-6 col-md-9 col-sm-12">
      <div class="feed__header">
        <h2>Home</h2>
      </div>

      <div class="chirpBox">
        <form>
          <div class="chirpBox__input">
            <img src="images/img_avatar.png" alt="Avatar" class="avatar">
            <input type="text" placeholder="What's happening?" required maxlength="250">
          </div>
          <div class="myicons">
            <a href="#"><i class="material-icons" id="file">add_photo_alternate</i></a>
            <a href="#"><i class="material-icons" id="gif">gif</i></a>
            <a href="#"><i class="material-icons" id="emoji">emoji_emotions</i></a>
            <a href="#"><i class="material-icons" id="poll">poll</i></a>
            <a href="#"><i class="material-icons" id="schedule">calendar_today</i></a>
          </div>
          <button class="chirpBox__chirpButton" type="submit">Chirp!</button>
        </form>
      </div>

      <div class="post">
        <div class="post__avatar">
          <img src="images/img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
              <h3>Sarah Johnsen <span class="post__headerSpecial">@sjohnsen123</span>
              </h3>
            </div>
            <div class="post__headerDescription">
              <center>
                <p>Wow. I really love Chirping on Chirpy! :) #chirpy #chirper #nottwitter</p>
              </center>
            </div>


          </div>
          <center><img src="images/mockImage.gif" alt="gif"></center>
          <div class="post__footer">
            <i class="fa fa-comment"></i>
            <i class="fa fa-retweet"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-share"></i>
          </div>
        </div>

      </div>

      <div class="post">
        <div class="post__avatar">
          <img src="images/img_avatar3.png" alt="Avatar" class="avatar">
        </div>

        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
              <h3>Joey John <span class="post__headerSpecial">@joeyj624</span>
              </h3>
            </div>
            <div class="post__headerDescription">
              <center>
                <p>I can't wait to cheep on chirpy #socialmediaconsumesme #newnormal</p>
              </center>
            </div>


          </div>
          <center><img src="images/mockYodigif.gif" alt="gif" width="350px"></center>
          <div class="post__footer">
            <i class="fa fa-comment"></i>
            <i class="fa fa-retweet"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-share"></i>
          </div>
        </div>

      </div>

      <div class="post">
        <div class="post__avatar">
          <img src="images/img_avatar5.png" alt="Avatar" class="avatar">
        </div>

        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
              <h3>Jessica Smith <span class="post__headerSpecial">@jsmith212</span>
              </h3>
            </div>
            <div class="post__headerDescription">
              <center>
                <p>OMG I just liek totally wanna CHIRP it up!@! #chirplyfe</p>
              </center>
            </div>


          </div>
          <center><img src="images/mockOMGgif.gif" alt="gif" width="350px"></center>
          <div class="post__footer">
            <i class="fa fa-comment"></i>
            <i class="fa fa-retweet"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-share"></i>
          </div>
        </div>

      </div>


    </div>





    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
      <div class="search-box" id="box">
        <table class="search-contents">
          <tr>
            <td id="searchicon_td" style="background-color: rgb(49, 45, 45);">
              <i class="fa fa-search searchIcon" id='searchicon'></i>
            </td>
            <td>
              <input class="search" type="text" onclick="myFunction()" name="" id="searchinput"
                placeholder="Search Chirpy">
            </td>
          </tr>
        </table>
      </div>

      <div class="newsfeed">
        <script type="text/javascript">

          rssfeed_url = new Array();
          rssfeed_url[0] = "https://surfing-waves.com/newsrss.xml";
          rssfeed_frame_width = "300";
          rssfeed_frame_height = "500";
          rssfeed_scroll = "off";
          rssfeed_scroll_step = "6";
          rssfeed_scroll_bar = "on";
          rssfeed_target = "_blank";
          rssfeed_font_size = "12";
          rssfeed_font_face = "";
          rssfeed_border = "on";
          rssfeed_css_url = "https://feed.surfing-waves.com/css/style5.css";
          rssfeed_title = "on";
          rssfeed_title_name = "";
          rssfeed_title_bgcolor = "#3366ff";
          rssfeed_title_color = "#fff";
          rssfeed_title_bgimage = "";
          rssfeed_footer = "off";
          rssfeed_footer_name = "rss feed";
          rssfeed_footer_bgcolor = "#fff";
          rssfeed_footer_color = "#333";
          rssfeed_footer_bgimage = "";
          rssfeed_item_title_length = "50";
          rssfeed_item_title_color = "#666";
          rssfeed_item_bgcolor = "#fff";
          rssfeed_item_border_radius = "30%"
          rssfeed_item_bgimage = "";
          rssfeed_item_border_bottom = "on";
          rssfeed_item_source_icon = "on";
          rssfeed_item_date = "off";
          rssfeed_item_description = "on";
          rssfeed_item_description_length = "120";
          rssfeed_item_description_color = "#666";
          rssfeed_item_description_link_color = "#333";
          rssfeed_item_description_tag = "off";
          rssfeed_no_items = "0";
          rssfeed_cache = "37c8afaf7a32c647ba838425f875de4b";

        </script>
        <script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script>
      </div>

      <div class="follow">
        <table class="followers">
          <thead>
            <tr>
              <th id="first">Who to follow</th>
            </tr>
          </thead>
          <tr>
            <div class="new">
              <td id="second">
                <a href="#">
                  <div class="new1">
                    <img src="images/potato.jpg" alt="Potato" class="Potato">
                  </div>
                  <div class="new2">
                    <span id="header1">
                      <bold>Jared Lafayette</bold>
                    </span><br>
                    <p>@JaredsCool</p>
                  </div>
                  <div class="new3">
                    <button>Follow</button>
                  </div>
                </a>
              </td>
            </div>
          </tr>
          <tr>
            <div class="new">
              <td id="third">
                <a href="#">
                  <div class="new1">
                    <img src="images/birdpic.jpg" alt="Potato" class="Potato">
                  </div>
                  <div class="new2">
                    <span id="header1">
                      <bold>Antonio Grizzly</bold>
                    </span><br>
                    <p>@HotPocket42</p>
                  </div>
                  <div class="new3">
                    <button>Follow</button>
                  </div>
                </a>
              </td>
            </div>
          </tr>
          <tr>
            <div class="new">
              <td id="fourth">
                <a href="#">
                  <div class="new1">
                    <img src="images/cowboy.jpg" alt="Potato" class="Potato">
                  </div>
                  <div class="new2">
                    <span id="header1">Billy Bob Joe</span><br>
                    <p>@CottonEyedJoe21</p>
                  </div>
                  <div class="new3">
                    <button>Follow</button>
                  </div>
                </a>
              </td>
            </div>
          </tr>
          <thead>
            <tr>
              <a href="#">
                <th id="fifth">Show more</th>
              </a>
            </tr>
          </thead>
        </table>
      </div>


    </div>

  </div>
  </div>

</body>

</html>