<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta char="utf-8">
    <title>Right Hand Column</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class='container'>
        <div class="follow">
            <table class="followers">
                <thead>
                    <tr>
                        <th id="first">Who to follow</th>
                    </tr>
                </thead>
                <tr>
                    <div class="new">
                        <td id="second">
                            <a href="#">
                            <div class="new1">
                                <img src="./css/images/potato.jpg" alt="Potato" class="Potato">
                            </div>
                            <div class="new2">
                                <span id="header1"><bold>Jared Lafayette</bold></span><br><p>@JaredsCool</p>
                            </div>
                            <div class="new3">
                                <button>Follow</button>
                            </div>
                            </a>
                        </td>
                    </div>
                </tr>
                <tr>
                    <div class="new">
                        <td id="third">
                            <a href="#">
                            <div class="new1">
                                <img src="./css/images/birdpic.jpg" alt="Potato" class="Potato">
                            </div>
                            <div class="new2">
                                <span id="header1"><bold>Antonio Grizzly</bold></span><br><p>@HotPocket42</p>
                            </div>
                            <div class="new3">
                                <button>Follow</button>
                            </div>
                            </a>
                        </td>
                    </div>
                </tr>
                <tr>
                    <div class="new">
                        <td id="fourth">
                            <a href="#">
                            <div class="new1">
                                <img src="./css/images/cowboy.jpg" alt="Potato" class="Potato">
                            </div>
                            <div class="new2">
                                <span id="header1">Billy Bob Joe</span><br><p>@CottonEyedJoe21</p>
                            </div>
                            <div class="new3">
                                <a href="#"><button>Follow</button></a>
                            </div>
                        </a>
                        </td>
                    </div>
                </tr>
                <thead>
                    <tr>
                        <a href="#"><th id="fifth">Show more</th></a>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>

</html>