.fa.fa-comment:hover {
    color: #1DA1F2;
    cursor: pointer;
}

.fa.fa-heart:hover {
    color: red;
    cursor: pointer;
}

.fa.fa-retweet:hover {
    color: green;
    cursor: pointer;
}

.fa.fa-share:hover {
    color: aliceblue;
    cursor: pointer;
}