<% trending.forEach(trend => { %>
<tr>
    <div class="new">
      <td id="second">
          <div class="new1">
            
            <img src="/images/trending.png" alt="Avatar" class="avatar">

          </div>
          <div class="new2">
            <span id="header1">
              <bold><%= trend._id %></bold>
            </span><br>
            <p>Popularity: <%= trend.count %> chirps</p>
          </div>
          <div class="new3">
            <button class="modal-button" type="button" data-toggle="modal" data-target="#myModal" data-id="<%= `${trend._id}` %>">See Chirps</button>
          </div>

      </td>
    </div>
  </tr>
<% }) %>