<% users.forEach(user => { %>
    <% if(user._id.toString() != currentUser._id.toString()) { %>
<tr>
    <div class="new">
      <td id="second">
        <a href="<%=`/users/${user._id}`%>">
          <div class="new1">
            <img src="/images/potato.jpg" alt="Potato" class="Potato">
          </div>
          <div class="new2">
            <span id="header1">
              <bold><%= user.fullName %></bold>
            </span><br>
            <p>@<%= user.Username %></p>
          </div>
          <div class="new3">
            <button>Follow</button>
          </div>
        </a>
      </td>
    </div>
  </tr>
  <% } %>
<% }) %>