<!DOCTYPE HTML>
<html lang="en">

<head>
    <link href="favicon.ico" rel="icon" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/editAccount.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <header>
        <link rel="icon">
        <title>Edit Account Information</title>
    </header>

<body>
    <div id="header"></div>
    <div class ="mainform">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                    <form action="<%=`/users/${user._id}/updateAccount?_method=PUT`%>" method="POST" class="form_horizontal" onsubmit="return formValidation()">
                        <div class="icon"><i class="fa fa-twitter"></i></div>
                        <h2 class="title">Edit Account Information</h2>
                        <div class="minimessage">
                            <h5>*Leave new password and confirmation blank if you only want to change email.</h5>
                            <h5>*Leave new email blank if you only want to change password.</h5>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" required placeholder="Current Email" name="Email" id="Email" value="<%= user.Email %>">
                            <div id="divEmailError1" class="errormsg invisible"></div>
                            <div id="divEmailError" class="errormsg invisible"></div>
                        </div>
                        <div class="form-group">
                            <input class=form-control type="email" placeholder="New Email" name="newEmail" id="newEmail">
                            <div id="divnewEmailError1" class="errormsg invisible"></div>
                            <div id="divnewEmailError" class="errormsg invisible"></div>
                        </div>

                        <div class = "form-group">
                            <input class="form-control" type="password" required placeholder="Current Password" name="Password" id="Password">
                            <div id="divPasswordError1" class="errormsg invisible"></div>
                            <div id="divPasswordError" class="errormsg invisible"></div>
                        </div>

                        <!-- <div class="minimessage">
                            <h5>*Password must contain: 8 minimum chars, 1 uppercase letter, 1 lowercase letter,
                                1 number, and 1 special character</h5>
                        </div> -->

                        <div class = "form-group">
                            <input class="form-control" type="password" placeholder="New Password" name="newPassword" id="newPassword">
                            <div id="divnewPasswordError1" class="errormsg invisible"></div>
                            <div id="divnewPasswordError" class="errormsg invisible"></div>
                        </div>

                        <div class = "form-group">
                            <input class="form-control" type="password" placeholder="Confirm New Password" name="newPasswordconfirm" id="newPasswordconfirm">
                            <div id="divnewPasswordconfirmError1" class="errormsg invisible"></div>
                            <div id="divnewPasswordconfirmError" class="errormsg invisible"></div>
                        </div>
                              
                        <br>
                        <button class = "btn signin" id="signin" type="submit">Update</button>
                        <br>
                        <button class = "btn cancel" id="cancel" type="reset"><a href="<%=`/users/${user._id}/edit`%>">Back</a></button>
                        
                        <footer>
                            <ul class="footer-notes">
                                <li><center><a href="#" id="footnotes">Privacy Policy </a> <bold id="dot"> &#183; </bold><a href="#" id="footnotes">Copyright &#169; 2021 Chirpy&#8482;</a></center></li>
                            </ul>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/editAccount.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.min.js"></script>
</html>