<div class = "form-data">
    <form action ="/users/create" method ="POST">
    <label for="txtFirstName">First Name: </label>
    <input type="text" name="FirstName" id="txtFirstName" autofocus required>

    <label for="txtLastName">Last Name:</label>
    <input type="text" name="LastName" id="txtLastName" required>

    <label for="txtUsername">Username: </label>
    <input type="text" name="Username" id="txtUsername" required>

    <label for="txtGender">Gender: </label>
    <input type="radio" name="Gender" id="txtGender" required>

    <label for="txtLocation">Location: </label>
    <input type="text" name="Location" id="txtLocation" required>

    <label for="txtEmail">Email: </label>
    <input type="email" name="Email" id="txtEmail" required>

    <label for="txtPassword">Password: </label>
    <input type="password" name="Password" id="txtPassword" required>

    <label for="txtDoB">Date of Birth: </label>
    <input type="date" name="DoB" id="txtDoB" required>

    <label for="txtSecurityQuestion">Security Question: </label>
    <input type="text" name="SecurityQuestion" id="txtSecurityQuestion" required> 
    <!-- need to change this input type -->

    <label for="txtAnswer">Answer: </label>
    <input type="text" name="Answer" id="txtAnswer" required> 

    <label for="txtBio">Bio: </label>
    <input type="text" name="Bio" id="txtBio" required> 

    <button type="submit">Create</button>
    </form>
</div>