<header>
    <link rel="stylesheet" href="/css/chirps.css">
</header>


<div class = "form-data">
    <form action="<%=`/chirps/${chirp._id}/update?_method=PUT`%>" method ="POST">

        <label for="txtUsername">Username: </label>
        <input type="text" name="user" id="txtUsername" required value="<%= chirp.user %>">
    
        <label for="txtPost">Post: </label>
        <input type="text" name="chirpBody" id="txtPost" required value="<%= chirp.chirpBody %>">

    <button type="submit">Save</button>
    </form>
</div>