<header>
    <link rel="stylesheet" href="/css/users.css">
</header>
<body style="background-image:url(/images/chirpyBackground.jpg);">
<div class = "chirpNewcard form-data">
    <form action ="/chirps/create" method ="POST">

    <h2> <%= currentUser._id %> </h2>
    <input type="text" name="user" id="txtUsername" required hidden value="<%= currentUser._id %>">
    </input>
    <label for="txtPost">Post: </label>

    <textarea name="chirpBody" id="txtPost" cols="44" rows="4" required></textarea>

    <button class = "editbutton" type="submit">Create</button>
    </form>
</div>
</body>