<header>
    <link rel="stylesheet" href="/css/users.css">
</header>
<body style="background-image:url(/images/chirpyBackground.jpg);">
<div class = "chirpNewcard form-data">
    <form action ="/chirps/create" method ="POST">

    <label for="txtUsername">Username: </label>
    <input type="text" name="user" id="txtUsername" required>

    <label for="txtPost">Post: </label>

    <textarea name="chirpBody" id="txtPost" cols="44" rows="4" required></textarea>

    <button class = "editbutton" type="submit">Create</button>
    </form>
</div>
</body>