<header>
    <link rel="stylesheet" href="/css/chirps.css">
</header>


<h2 class="center">Chirp Data for <%= chirp.fullName %></h2>
<table class="table">
    <tbody>
        <tr>
            <td>Name</td>
            <td>
                <%= chirp.fullName %>
            </td>
        </tr>

        <tr>
            <td>Username</td>
            <td>
                <%= chirp.user %>
            </td>
        </tr>

        <tr>
            <td>Chirp</td>
            <td>
                <%= chirp.chirpBody %>
            </td>
        </tr>

    </tbody>
</table>