<header>
    <link rel="stylesheet" href="/css/chirps.css">
</header>


<h2 class="center" style="color: white">Chirp Data for <%= chirp.user %></h2>
<table class="table">
    <tbody>

        <tr>
            <td>Username</td>
            <td>
                <%= chirp.user %>
            </td>
        </tr>

        <tr>
            <td>Chirp</td>
            <td>
                <%= chirp.chirpBody %>
            </td>
        </tr>

    </tbody>
</table>
<a href="/chirps" class="button">Back</a>